<?xml version="1.0" encoding="UTF-8"?>
<!--
	$Id: web.xml,v 1.2 2009/02/09 09:45:25 tmpfnc72p22l103z Exp $
	
	This software is subject to the terms of the Common Public License
	Agreement, available at the following URL:
	http://www.opensource.org/licenses/cpl.html.
	(C) Copyright 2003-2006 Julian Hyde and others.
	All Rights Reserved.
	You must accept the terms of that agreement to use this software.
-->
<web-app id="WebApp_1233745520125" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Mondrian</display-name>
	<description />

	<!-- optional? now in JPivot by default  -->
	<context-param>
		<param-name>contextFactory</param-name>
		<param-value>
			com.tonbeller.wcf.controller.RequestContextFactoryImpl
		</param-value>
	</context-param>

	<context-param>
		<param-name>connectString</param-name>
		<param-value>
			Provider=mondrian;Jdbc=jdbc:odbc:MondrianFoodMart;Catalog=/WEB-INF/queries/FoodMart.xml;JdbcDrivers=sun.jdbc.odbc.JdbcOdbcDriver;RoleXX='California
			manager';
		</param-value>
	</context-param>

	<!-- optional
		<context-param>
		<param-name>chartServlet</param-name>
		<param-value>/path/to/chartServlet</param-value>
		</context-param>
	-->
	
	<filter>
		<filter-name>EngineCheckSessionFilter</filter-name>
		<filter-class>it.eng.spagobi.utilities.filters.EngineCheckSessionFilter</filter-class>
	</filter>
	
<!-- START-CAS 
<filter>
  <filter-name>CAS Authentication Filter</filter-name>
  <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
  <init-param>
    <param-name>casServerLoginUrl</param-name>
    <param-value>https://athos.engilab.ewebpd.eng.it:1447/cas/login</param-value>
  </init-param>
  <init-param>
    <param-name>serverName</param-name>
    <param-value>athos.engilab.ewebpd.eng.it:1447</param-value>
  </init-param>    
</filter>

<filter>
  <filter-name>CAS Validation Filter</filter-name>
  <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
  <init-param>
    <param-name>casServerUrlPrefix</param-name>
    <param-value>https://athos.engilab.ewebpd.eng.it:1447/cas</param-value>
  </init-param>
  <init-param>
    <param-name>serverName</param-name>
    <param-value>https://athos.engilab.ewebpd.eng.it:1447</param-value>
  </init-param>
  <init-param>
    <param-name>proxyReceptorUrl</param-name>
    <param-value>/proxyCallback</param-value>
  </init-param> 

  <init-param>
	<param-name>proxyCallbackUrl</param-name>
	<param-value>https://athos.engilab.ewebpd.eng.it:1447/SpagoBIJPivotEngine/proxyCallback</param-value>
  </init-param>  
</filter>

<filter>
  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
  <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
</filter>

END-CAS -->

	<filter>
		<filter-name>JPivotController</filter-name>
		<filter-class>
			com.tonbeller.wcf.controller.RequestFilter
		</filter-class>
		<!--
			<init-param>
			<param-name>indexJSP</param-name>
			<param-value>/index.html</param-value>
			<description>forward to this page if session is new</description>
			</init-param>
			<init-param>
			<param-name>errorJSP</param-name>
			<param-value>/error.jsp</param-value>
			<description>URI of error page</description>
			</init-param>
			<init-param>
			<param-name>busyJSP</param-name>
			<param-value>/busy.jsp</param-value>
			<description>This page is displayed if a the user clicks
			on a query before the previous query has finished</description>
			</init-param>
		-->
		<!--
			<init-param>
			<param-name>forceExtension</param-name>
			<param-value>.faces</param-value>
			<description>replace .jsp with .faces</description>
			</init-param>
		-->
	</filter>

	<filter>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<filter-class>
			it.eng.spagobi.utilities.filters.SpagoBIAccessFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EngineCheckSessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
<!-- START-CAS 
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/JPivotServlet/*</url-pattern>
  </filter-mapping> 
    	
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/JPivotServlet/*</url-pattern>
  </filter-mapping> 
   	

  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/JPivotServlet/*</url-pattern>
  </filter-mapping> 
  
  <filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/proxyCallback</url-pattern>	
  </filter-mapping>
END-CAS -->

	<filter-mapping>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<url-pattern>/JPivotServlet/*</url-pattern>
	</filter-mapping>



	<filter-mapping>
		<filter-name>JPivotController</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JPivotController</filter-name>
		<servlet-name>JPivotServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JPivotController</filter-name>
		<servlet-name>FlushCacheServlet</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>mondrian.web.taglib.Listener</listener-class>
	</listener>

	<!-- resources initializer -->
	<listener>
		<listener-class>
			com.tonbeller.tbutils.res.ResourcesFactoryContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>MDXQueryServlet</servlet-name>
		<servlet-class>
			mondrian.web.servlet.MDXQueryServlet
		</servlet-class>
		<init-param>
			<param-name>connectString</param-name>
			<param-value>
				Provider=mondrian;Jdbc=jdbc:odbc:MondrianFoodMart;Catalog=/WEB-INF/queries/FoodMart.xml;JdbcDrivers=sun.jdbc.odbc.JdbcOdbcDriver;RoleXX='California
				manager';
			</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>MondrianXmlaServlet</servlet-name>
		<servlet-class>
			mondrian.xmla.impl.DefaultXmlaServlet
		</servlet-class>
		<init-param>
			<param-name>DataSourcesConfig</param-name>
			<param-value>datasources.xml</param-value>
		</init-param>
	</servlet>


	<!-- jfreechart provided servlet -->
	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
	</servlet>

	<!-- jfreechart provided servlet -->
	<servlet>
		<servlet-name>GetChart</servlet-name>		
		<servlet-class>
			com.tonbeller.jpivot.chart.GetChart
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Print</servlet-name>		
		<servlet-class>
			com.tonbeller.jpivot.print.PrintServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>JPivotServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.jpivotaddins.engines.JPivotServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SpagoBIDrillServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.utilities.callbacks.drill.SpagoBIDrillServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FlushCacheServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.jpivotaddins.cache.FlushCacheServlet
		</servlet-class>
	</servlet>

	
	<servlet>
		<servlet-name>EngineTestServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.utilities.engines.EngineTestServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlushCacheServlet</servlet-name>
		<url-pattern>/FlushCacheServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpagoBIDrillServlet</servlet-name>
		<url-pattern>/SpagoBIDrillServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JPivotServlet</servlet-name>
		<url-pattern>/JPivotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Print</servlet-name>
		<url-pattern>/Print</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetChart</servlet-name>
		<url-pattern>/GetChart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MDXQueryServlet</servlet-name>
		<url-pattern>/mdxquery</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MondrianXmlaServlet</servlet-name>
		<url-pattern>/xmla</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EngineTestServlet</servlet-name>
		<url-pattern>/JPivotServletTest</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	  <error-page>
	  	<exception-type>java.lang.Throwable</exception-type>
	  	<location>/html/error.html</location>
	  </error-page>
	  
	  <error-page>
	  	<exception-type>javax.servlet.ServletException</exception-type>
	  	<location>/html/error.html</location>
	  </error-page>
		 
	  <error-page>
	  	<error-code>404</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
  
	  <error-page>
	  	<error-code>500</error-code>
	  	<location>/html/error.html</location>
	  </error-page>
<!--
	<env-entry>
		<env-entry-name>spagobi_resource_path</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>c:/SpagoBI/resources</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>spagobi_service_url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:9084/SpagoBI</env-entry-value>
	</env-entry>
	
	<env-entry>
		<env-entry-name>spagobi_sso_class</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>it.eng.spagobi.services.common.TamSsoService</env-entry-value> 
	</env-entry>
-->
    <jsp-config>
    
	<taglib>
		<taglib-uri>http://www.tonbeller.com/wcf</taglib-uri>
		<taglib-location>/WEB-INF/wcf/wcf-tags.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://www.tonbeller.com/jpivot</taglib-uri>
		<taglib-location>
			/WEB-INF/jpivot/jpivot-tags.tld
		</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://spagobi.eng.it/</taglib-uri>
		<taglib-location>
			/WEB-INF/spagobi/spagobi-tags.tld
		</taglib-location>
	</taglib>
	
	<jsp-property-group>
		<url-pattern>*.jsp</url-pattern>
		<el-ignored>true</el-ignored>
	</jsp-property-group> 
	
	</jsp-config>    

</web-app>
