/*******************************************************************************************************
 * Model Structure
 ********************************************************************************************************/
  
.has-kpi {
	 background-image:url(../../img/kpi/kpiico16.png) !important;
}
.no-error {
	 font-weight: normal;
	 font-style: normal;
	 text-decoration: none;
}
.x-grid3-scroller{
	background-color: #f1f1f1;
}
.x-grid3-row{
	background-color: #f1f1f1;
}
.icon-copytree {
	 background-image:url(../../img/copytree.gif) !important;
}
