@CHARSET "UTF-8";

.log-panel {
	background-color: #ECF2FC;
	border: 1px solid red;
	margin: 0px;
	filter: alpha(opacity =   95);
	opacity: 0.95;
	z-index: 1000;
}

.log-panel .log-text-area,.log-panel BUTTON {
	font-size: 10pt;
	margin: 0em;
}

.log-panel .log-title {
	cursor: move;
	font-weight: bold;
}

.log-panel .log-clear-button {
	margin: 0em 1.2em;
}

.log-panel BUTTON.log-clear-about {
	color: #444 !important;
}

.log-panel .log-text-area {
	text-align: left;
}

.log-panel .log-stacktrace {
	white-space: nowrap;
}

.log-panel .log-message {
	font-family: monospace;
	cursor: help;
}

.log-panel .log-message-hover {
	background-color: #F0F0F0;
}

.log-panel .log-scroll-panel {
	background-color: #FFF;
}

.log-panel .log-resize-se {
	cursor: se-resize;
}