th.navi-axis {
  background-color : #B1C9E2;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;;
  color : black;
  text-align: left;
  vertical-align: middle;
  border-style: none;
}

td.navi-hier {
  background-color : #ffffff;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;;
  color : Black;
  text-align: left;
  border-style: solid;
  border-color: #B1C9E2;
  padding: 2px;
}

/* Added */
a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:active {
	background-color: yellow;
}

a:hover {
	color:red;
}


td.navi-buttons {
  text-align: right;
}


td.member-node-odd {
  background-color : #ffffff;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;;
  color : Black;
  text-align: left;
}

td.member-node-even {
  background-color : #DEE3EF;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;;
  color : Black;
  text-align: left;
}
