.icon-level-select {
  background: url(../images/selectLevel.gif) no-repeat !important;
  width: 15px;
  height: 13px;  
}

.icon-level-select-1 {
  background: url(../images/lvl1.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-2 {
  background: url(../images/lvl2.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-3 {
  background: url(../images/lvl3.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-4 {
  background: url(../images/lvl4.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-5 {
  background: url(../images/lvl5.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-6 {
  background: url(../images/lvl6.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-7 {
  background: url(../images/lvl7.png) no-repeat !important;
  width: 9px;
  height: 9px;    
}
.icon-level-select-8 {
  background: url(../images/lvl8.png) no-repeat !important;
  width: 9px;
  height: 9px;      
}
.icon-level-select-9 {
  background: url(../images/lvl9.png) no-repeat !important;
  width: 9px;
  height: 9px;      
}

.palo-gwt-vieweditor .container-row {
	/* border: 1px solid black; */
}
.palo-gwt-vieweditor .container-column {
	/* border: 1px solid black; */
}
.palo-gwt-vieweditor .container-selection {
	/* border: 1px solid black; */
}
