.link-background {
	background-color: #d0def0;
}

.palo-gwt-palotable {
	background-color: white;
	border: 1px solid #aab8d5;
}

.palo-gwt-palotable .header {
	position: absolute;
	border: 1px solid gray;
	background-color: #f4f7fc;
}
.palo-gwt-palotable .header .item-left-border {
	border-right: 0px;
	border-left: 1px solid gray;
}
.palo-gwt-palotable .header .item-right-border {
	border-left: 0px;
	border-right: 1px solid gray;
}
.palo-gwt-palotable .header .item-top-border {
	border-bottom: 0px;
	border-top: 1px solid gray;
}
.palo-gwt-palotable .header .item-bottom-border {
	border-top: 0px;
	border-bottom: 1px solid gray;
}

.palo-gwt-palotable .header .rows-end {
	border-bottom: 1px solid gray;
}
.palo-gwt-palotable .header .columns-end {
	border-right: 1px solid gray;
}

.palo-gwt-palotable .horizontal-separator {
	border-top: 1px solid gray;
	border-bottom: 1px solid white;
	font-size: 0px;
	line-height: 0px;
	width: auto;
	height: 0px;
}
.palo-gwt-palotable .vertical-separator {
	border-left: 1px solid gray;
	border-right: 1px solid white;
	font-size: 0px;
	line-height: 0px;
	width: 0px;
	height: auto;
}

.palo-gwt-palotable .content {
	position: absolute;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.palo-gwt-palotable .content .cell {
	color: black;
	background-color: #e4f4fe;
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	text-align: right;
	line-height: 15px !important; 
}

.level-selector-popup {
	background-color: white;
	border: 1px solid #aab8d5;
}
. level-selector-popup .caption {
	background-color: silver;
	border-bottom: 1px solid #aab8d5;
}

.x-insert {
  background: url(images/insert-bg.gif) repeat;
}

/* #dfe8f7; */

.palo-gwt-vieweditor {
	background-color: #e8f0fa; 
}

.palo-gwt-vieweditor .filter-label {
	color: #233D6D;
	font: bolder 14px Verdana;
}
.palo-gwt-vieweditor .container-empty-label {
	color: silver;
	white-space: nowrap;
	font: bolder 14px Verdana !important; 
}

.palo-gwt-vieweditor .separator {
	border-top: 1px solid #c3daf9;
	border-bottom: 1px solid silver;
	font-size: 0px;
	line-height: 0px;
	width: auto;
	height: 0px;
}

/* #dfe8f7; */

.static-filter {
	background-color: #e8f0fa;
}

.palo-gwt-hierarchy-widget {
	font: 8pt Verdana;
	white-space: nowrap;    
	width: 119px;
	height: 21px;
	background-image: url(images/dim_widget.png);
	background-repeat: no-repeat;
}
.palo-gwt-hierarchy-widget-vertical {
	font: 8pt Verdana;
	white-space: nowrap;    
	width: 21px;
	height: 119px;

	background-image: url(images/dim_widget_vertical.png);
	background-repeat: no-repeat;
}
.palo-gwt-hierarchy-widget-selection {
	font: 8pt Verdana;
	white-space: nowrap;    
	width: 138px;
	height: 41px;
	background-image: url(images/dim_sel_widget.png);
	background-repeat: no-repeat;
}
