/** Css rules for firefox only **/

.x-btn-text-icon .x-btn-center .x-btn-text{background-position:0 2px;background-repeat:no-repeat;padding-left:10px;padding-top:3px;padding-bottom:2px;padding-right:0;}
