<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</property>

        <!-- hibernate dialect -->
                       <!-- 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.IngresDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DB2400Dialect</property>
        
        -->
        <property name="hibernate.connection.datasource">java:/comp/env/jdbc/spagobi</property>
        
        <!-- Automatic schema creation (begin) === -->
<!--        <property name="hibernate.hbm2ddl.auto">validate</property>
 -->
 		<property name="show_sql">false</property>
 
        <!-- Simple memory-only cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- ############################################ -->
        <!-- #                mapping                   # -->
        <!-- ############################################ -->
 
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterUser"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterSearch"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterData"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterSearchScheduler"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterMonitorScheduler"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterAccountToMonitor"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterLinkToMonitor"></mapping>
         <mapping class="it.eng.spagobi.twitter.analysis.entities.TwitterLinkToMonitorCategory"></mapping>
         
         
 
    </session-factory>
</hibernate-configuration>