/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body {
background-color: #6DA1D1
}

/* Headings */
h1 { font-size: 145% }

/* Table colors */
.TableHeadingColor     { background: #003366; color:#FFFFFF } /* Dark mauve */
.TableSubHeadingColor  { background: #003366; color:#FFFFFF } /* Light mauve */
.TableRowColor         { background: #6DA1D1; color:#FFFFFF } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family: Helvetica, Arial, sans-serif }
.FrameHeadingFont { font-size:  90%; font-family: Helvetica, Arial, sans-serif }
.FrameItemFont    { font-size:  90%; font-family: Helvetica, Arial, sans-serif }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#003366;} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B;} /* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#DDDDDD;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#6DA1D1; color:#FFFFFF; }
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#6DA1D1; color:#FFFFFF; }


a:link,a:visited,a:active{
color:#003366;
}

a:hover{
color:#cccccc;
background:#006699;
}.textWhite {

*.code {
  font-size: 80%
}

