/**************************************
 Structural CSS 
 */
.gwt-FastTree {
  -moz-user-select: none;
  position: relative;
}

.gwt-FastTreeItem {
  min-width: 18px;
}

.gwt-FastTree .selection-bar {
  font-size: 0;
  position: absolute;
  right: 0;
  width: 1px;
  z-index: -1;
  outline: none;
  -moz-outline: none;
}

.gwt-FastTree .selection-bar :focus {
  outline: none
}

/************************************
Visual styling
*/
.gwt-FastTreeItem .open,.gwt-FastTreeItem .closed {
  padding-right: 18px;
}

.gwt-FastTreeItem-leaf {
  display: block;
  padding: 2px;
  padding-right: 18px;
}

.gwt-FastTreeItem .children {
  margin-right: 10px;
}

.gwt-FastTreeItem .open,.gwt-FastTreeItem .closed,.gwt-FastTreeItem-leaf
  {
  color: black;
}

.gwt-FastTreeItem .open {
  background: url('%treeOpen%') no-repeat center right;
}

.gwt-FastTreeItem .closed {
  background: url('%treeClosed%') no-repeat center right;
}

.gwt-FastTree .content {
  padding: 2px;
}

.gwt-FastTree
  .selected,.gwt-FastTreeItem-leaf-selected {
  background: #e3e8f3 url('%selectionBar%') repeat-x;
}