<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="org.uguess.birt.report.engine.emitter.xls.XlsEmitter"
            format="xls"
            id="org.uguess.birt.report.engine.emitter.xls"
            mimeType="application/vnd.ms-excel"
            pagination="paper-size-pagination"/>
   </extension>

</plugin>
